body{
    max-width:1200px;
}
.seccion1{
    background-color: black;
    padding: 20px;
}
.rectangulo1_1{
    display: flex;
    background-color: rgba(45,64,89,255);
    padding: 10px;
}
.linea1_1{
    display: flex;
    background-color: rgba(234,84,85,255);
    padding: 10px;
    margin: 10px;
    width: 25%;
}
.linea1_2{
    display: flex;
    background-color: rgba(234,84,85,255);
    padding: 10px;
    margin: 10px;
    width:100%;
}
.rectangulo1_2{
    display: flex;
    background-color: rgba(240,123,63,255);
    padding: 10px;
    margin-top: 10px;
}
.linea1_3{
    display: flex;
    background-color: rgba(254,212,96,255);
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.seccion2{
    background-color: black;
    padding: 20px;
    padding-bottom: 25px;
    margin-top: 20px;
    display: flex;
}
.rectangulo2_1{
    background-color: rgba(78,78,106,255);
    padding: 10px;
    width: 70%;
}
.linea2_1{
    display: flex;
    justify-content: center;
    display: inline-block;
    background-color: rgba(31,108,176,255);
    padding: 10px;
    margin: 10px;
    width: 44%;
}
.linea2_2{
    display: flex;
    justify-content: center;
    display: inline-block;
    background-color: rgba(31,108,176,255);
    padding: 10px;
    margin: 10px;
    margin-top: 1px;
    width: 44%;
}
.linea2_3{
    display: flex;
    justify-content: center;
    background-color: rgb(130, 152, 253);
    padding: 10px;
    margin: 10px;
    margin-top: 1px;
    width: 94.1%;
}
.rectangulo2_2{
    background-color: rgba(247,63,82,255);;
    padding: 10px;
    width: 35%;
    margin-left: 10px;
}
.linea4_1{
    display: flex;
    justify-content: center;
    background-color: rgba(254,234,133,255);
    padding: 10px;
    margin: 10px;
}
.linea4_2{
    background-color: rgba(254,234,133,255);
    padding: 10px;
    margin: 10px;
}
.seccion3{
    background-color: black;
    padding: 15px;
    margin-top: 20px;
}
.linea3_1{
    background-color:rgba(230,175,46,255) ;
    padding: 10px;
    width: 97.7%;
    margin-left: 5px;
}
@media (max-width: 768px){
    .seccion2{
        display: block;    
        background-color: rgba(254,255,3,255);
    }
    .rectangulo2_1{
        margin: 10px 0px;
        width: 97.3%;
    }
    .linea2_1{
        width: 43.9%;
    }
    .linea2_2{
        width: 43.9%;
    }
    .linea2_3{
        width: 94.1%;
    }
    .rectangulo2_2{
        margin: 20px 0px;
        margin-bottom: 0px;
        width: 97.3%;
    }
    .linea3_1{
        width: 95.9%;
    }
}